@{
    ViewData["Title"] = "Добавление пользователя";
}

<div>
    <h3>Форма добавления пользователя</h3>
    <p>Для добавления пользователя заполните следующие поля:</p>
    @using (Html.BeginForm())
    {
        <input type="hidden" value="1" name="UserType" />
        <table>
            <tr>
                <td>Логин:</td>
                <td><input type="text" name="Login" /></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input type="text" name="Password" /></td>
            </tr>
            <tr>
                <td>Название компании:</td>
                <td><input type="text" name="CompanyName" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td></tr>
        </table>
    }
</div>