@{
    ViewData["Title"] = "Добавление пользователя";
}

<div>
    <h3>Форма добавления пользователя</h3>
    <p>Для добавления пользователя заполните следующие поля:</p>
    <form method="post">
        <input type="hidden" value="1" name="UserType" />
        <table>
            <tr>
                <td>Логин:</td>
                <td><input type="text" name="Login" /> </td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input type="text" name="Password" /></td>
            </tr>
            <tr>
                <td>Название компании:</td>
                <td><input type="text" name="CompanyName" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>