@model BLL.DTO.UserDTO
@{
    ViewData["Title"] = "Поиск пользователя";
}

<div>
    <h3>Форма поиска пользователя</h3>
    <p>Для поиска пользователя введите его ID:</p>
    <form method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="number" name="ID" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
    @if (Model != null)
    {
        <table>
            <tr>
                <td>ID</td>
                <td>Логин</td>
                <td>Пароль</td>
                <td>Название компании</td>
                <td></td>
            </tr>
            <tr>
                <td>@Model.ID</td>
                <td>@Model.Login</td>
                <td>@Model.Password</td>
                <td>@Model.CompanyName</td>
            </tr>
        </table>
    }
</div>