@model UserDTO
@using BLL.DTO
@{
    ViewData["Title"] = "Поиск пользователя";
}

<div>
    <h3>Форма поиска пользователя</h3>
    <p>Для поиска пользователя введите его ID:</p>
    <form asp-action="SearchUser">
        <div>
            <div>
                <label asp-for="ID"></label>
                <input type="number" asp-for="ID" />
            </div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
    @if (Model != null)
    {
        @Html.CreateList(new List<UserDTO>() { Model })
    }
</div>