@{
    ViewData["Title"] = "Удаление ингредиента";
}

<div>
    <h3>Форма удаления ингредиента</h3>
    <p>Для удаления ингредиента введите его ID:</p>
    <form method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="number" name="ID" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>