@model IngredientDTO
@using BLL.DTO
@{
    ViewData["Title"] = "Поиск ингредиента";
}

<div>
    <h3>Форма поиска ингредиента</h3>
    <p>Для поиска ингредиента введите его ID:</p>

    <form asp-action="SearchIngredient">
        <div>
            <div>
                <label asp-for="ID"></label>
                <input type="number" asp-for="ID" />
            </div>
            <input type="submit" value="Отправить" />
        </div>
    </form>

    @if (Model != null)
    {
        @Html.CreateList(new List<IngredientDTO>() { Model })
    }
</div>