@{
    ViewData["Title"] = "Добавление рецепта";
}

<div>
    <h3>Форма добавления рецепта</h3>
    <p>Для добавления рецепта заполните следующие поля:</p>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>ID ингредиента:</td>
                <td><input type="text" name="IngredientID" /></td>
            </tr>
            <tr>
                <td>ID продукта:</td>
                <td><input type="text" name="ProductID" /></td>
            </tr>
            <tr>
                <td>Количество:</td>
                <td><input type="text" name="Quantity" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td></tr>
        </table>
    }
</div>