@{
    ViewData["Title"] = "Обновление данных рецепта";
}

<div>
    <h3>Форма обновления данных рецепта</h3>
    <p>Введите ID и новые данные рецепта:</p>
    <form method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="number" name="ID" /> </td>
            </tr>
            <tr>
                <td>ID ингредиента:</td>
                <td><input type="text" name="IngredientID" /> </td>
            </tr>
            <tr>
                <td>ID продукта:</td>
                <td><input type="text" name="ProductID" /></td>
            </tr>
            <tr>
                <td>Количество:</td>
                <td><input type="text" name="Quantity" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>