@model IEnumerable<BLL.DTO.OrderDTO>
@using BLL.DTO
@{
    ViewData["Title"] = "Поиск заказов";
}

<div>
    <h3>Форма поиска заказа</h3>
    <p>Для поиска рецепта введите ID пользователя:</p>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="number" name="ID" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td></tr>
        </table>
    }
    @if (Model != null)
    {
        @Html.CreateList(Model)
    }
</div>