@{
    ViewData["Title"] = "Добавление продукта";
}

<div>
    <h3>Форма добавления продукта</h3>
    <p>Для добавления продукта заполните следующие поля:</p>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Название:</td>
                <td><input type="text" name="Title" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td></tr>
        </table>
    }
</div>