@model IEnumerable<BLL.DTO.ProductDTO>
@{
    ViewData["Title"] = "Список продуктов";
}

<h3>Продукты</h3>
<table>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td></td>
    </tr>
    @foreach (var one in Model)
    {
        <tr>
            <td>@one.ID</td>
            <td>@one.Title</td>
        </tr>
    }
</table>
<a href="~/Products/AddProduct">Добавить</a>
<a href="~/Products/DeleteProduct">Удалить</a>
<a href="~/Products/SearchProduct">Поиск</a>
<a href="~/Products/UpdateProduct">Обновление данных</a>