@model ProductDTO
@using BLL.DTO
@{
    ViewData["Title"] = "Поиск продукта";
}

<div>
    <h3>Форма поиска продукта</h3>
    <p>Для поиска продукта введите его ID:</p>

    <form asp-action="SearchProduct">
        <div>
            <div>
                <label asp-for="ID"></label>
                <input type="number" asp-for="ID" />
            </div>
            <input type="submit" value="Отправить" />
        </div>
    </form>

    @if (Model != null)
    {
        @Html.CreateList(new List<ProductDTO>() { Model })
    }
</div>