@{
    ViewData["Title"] = "Обновление данных продукта";
}

<div>
    <h3>Форма обновления данных продукта</h3>
    <p>Введите ID и новое название продукта:</p>
    <form method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="number" name="ID" /> </td>
            </tr>
            <tr>
                <td>Название:</td>
                <td><input type="text" name="Title" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>