@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Пользователи</title>
</head>
<body>
    <a href="~/Home/Users">Пользователи</a>
    <a href="~/Home/Product">Продукты</a>
    <a href="~/Home/Ingredient">Ингридиенты</a>
    <a href="~/Home/Recipe">Рецепты</a>
    <a href="~/Home/Order">Заказы</a>
</body>
</html>