@model IEnumerable<BLL.DTO.ProductDTO>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Продукты</title>
</head>
<body>
    <h3>Продукты</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td></td>
        </tr>
        @foreach (var one in Model)
        {
            <tr>
                <td>@one.ID</td>
                <td>@one.Title</td>
            </tr>
        }
    </table>
    <a href="~/Home/AddProduct">Добавить</a>
</body>
</html>