@model IEnumerable<BLL.DTO.UserDTO>
@{
    //ViewData["Title"] = "Список пользователей";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Пользователи</title>
</head>
<body>
    <h3>Пользователи</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Логин</td>
            <td>Пароль</td>
            <td>Название компании</td>
            <td></td>
        </tr>
        @foreach (var one in Model)
        {
            <tr>
                <td>@one.ID</td>
                <td>@one.Login</td>
                <td>@one.Password</td>
                <td>@one.CompanyName</td>
            </tr>
        }
    </table>
    <a href="~/Home/AddUser">Добавить</a>
</body>
</html>